flows.json
[{"id":"23ee611b.2e0ebe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e338588.4764da","type":"ibmiot in","z":"23ee611b.2e0ebe","authentication":"apiKey","apiKey":"c4c79e7c.15b3a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":60,"wires":[["a3b55323.47bd5","a27574eb.4641c8","3e5dc4f4.f5e6ec","83e90a7e.43cd98"]]},{"id":"a3b55323.47bd5","type":"debug","z":"23ee611b.2e0ebe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"3c0d778c.9f9338","type":"inject","z":"23ee611b.2e0ebe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":260,"wires":[["2c3b8942.bc84e6"]]},{"id":"2c3b8942.bc84e6","type":"http request","z":"23ee611b.2e0ebe","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=london&units=imperial&appid=5ac40c8be3a009ce4d8462479d60cc9f","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":260,"wires":[["9c906e1.309449","d45e8603.592768","ba10133f.afdd3"]]},{"id":"9c906e1.309449","type":"debug","z":"23ee611b.2e0ebe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"a27574eb.4641c8","type":"change","z":"23ee611b.2e0ebe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["66b0ae08.ba51d","a3b55323.47bd5"]]},{"id":"3e5dc4f4.f5e6ec","type":"change","z":"23ee611b.2e0ebe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["d460616e.f14ef"]]},{"id":"83e90a7e.43cd98","type":"change","z":"23ee611b.2e0ebe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["2ec6525f.17e59e"]]},{"id":"66b0ae08.ba51d","type":"ui_gauge","z":"23ee611b.2e0ebe","name":"","group":"b7ef55f0.1e3d28","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"celsius","format":"{{number}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":120,"wires":[]},{"id":"d460616e.f14ef","type":"ui_gauge","z":"23ee611b.2e0ebe","name":"","group":"b7ef55f0.1e3d28","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"percentage","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":160,"wires":[]},{"id":"2ec6525f.17e59e","type":"ui_gauge","z":"23ee611b.2e0ebe","name":"","group":"b7ef55f0.1e3d28","order":2,"width":0,"height":0,"gtype":"gage","title":"soil temperature","label":"celsius","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":200,"wires":[]},{"id":"25d8fecc.446812","type":"ui_gauge","z":"23ee611b.2e0ebe","name":"","group":"f3fed972.eda578","order":3,"width":0,"height":0,"gtype":"gage","title":"open weather temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":320,"wires":[]},{"id":"6a590b59.af9604","type":"ui_gauge","z":"23ee611b.2e0ebe","name":"","group":"f3fed972.eda578","order":4,"width":0,"height":0,"gtype":"gage","title":"open weather humidity","label":"percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":360,"wires":[]},{"id":"d45e8603.592768","type":"change","z":"23ee611b.2e0ebe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["25d8fecc.446812"]]},{"id":"ba10133f.afdd3","type":"change","z":"23ee611b.2e0ebe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["6a590b59.af9604"]]},{"id":"386b280.1dbd6d8","type":"ui_button","z":"23ee611b.2e0ebe","name":"motor ON","group":"f684003f.a8163","order":5,"width":0,"height":0,"passthru":false,"label":"motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"lighton\" }","payloadType":"json","topic":"","x":240,"y":420,"wires":[["2fe8adb9.7b16d2","c44e6c60.0c656"]]},{"id":"b34d2462.4f9668","type":"ui_button","z":"23ee611b.2e0ebe","name":"motor OFF","group":"f684003f.a8163","order":6,"width":0,"height":0,"passthru":false,"label":"motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"lightoff\" }","payloadType":"json","topic":"","x":250,"y":460,"wires":[["2fe8adb9.7b16d2","ca260794.c57848"]]},{"id":"2fe8adb9.7b16d2","type":"ibmiot out","z":"23ee611b.2e0ebe","authentication":"apiKey","apiKey":"c4c79e7c.15b3a","outputType":"cmd","deviceId":"2","deviceType":"motor","eventCommandType":"command","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":500,"wires":[]},{"id":"c44e6c60.0c656","type":"ui_toast","z":"23ee611b.2e0ebe","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"motor is ON","name":"","x":880,"y":420,"wires":[]},{"id":"ca260794.c57848","type":"ui_toast","z":"23ee611b.2e0ebe","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"motor is OFF","name":"","x":880,"y":480,"wires":[]},{"id":"c4c79e7c.15b3a","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b7ef55f0.1e3d28","type":"ui_group","z":"","name":"sensor","tab":"466d96f8.318fe8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f3fed972.eda578","type":"ui_group","z":"","name":"weather","tab":"466d96f8.318fe8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f684003f.a8163","type":"ui_group","z":"","name":"motor control","tab":"466d96f8.318fe8","order":3,"disp":true,"width":"6","collapse":false},{"id":"466d96f8.318fe8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]